/*Global styles*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  background: url(images/desert_golden_sun.jpg) no-repeat center center fixed;
  /* background: darkgray; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
body {
  width: 60%;
  margin: auto;
}
#intro {
  /* background-color: blue; */
}

.head {
  /* background-color: lightgreen; */
  position: fixed;
  margin-top: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
}
/* Intro styles -------------------------------------------------*/
/* #intro {

  align-items: center;
  justify-content: center;
} */
h2 {
  font-weight: 600;
  color: white;
  font-size: 5em;
}
p {
  color: white;
  font-weight: 300;
  font-size: 1.6em;
}
.head {}
.title {
  /* background-color: red; */
  width: 80%;
  margin: auto;

}
.definition {
  background-color: rgba(255, 255, 255, 0.2);
  /* text-align: center; */
  width: 80%;
  margin: auto;
  border-radius: 0.2em;
}
/* mid section -----------------------------------------------------*/
.hero {
  /* background-color: pink; */
  position: fixed;
  margin-top: 35vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  display: block;
}

h4 {
  display: block;
  color: white;
  font-size: 2.5em;
  z-index: 20;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.headings {
  display: flex;
  justify-content: space-between;
  /* background-color: lightblue; */
}
.topic{
  border: none;
  color: white;
}
.topic.active,
.topic:hover{
  border: none;
  color: white;
  border-bottom: 0.2em solid white;
}

.para-content{
  display: none;
}
.para-content.active{
  display:block;
}

.para p {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 1em;
  border-radius: 0.2em;
}

/* footer styles ----------------------------------------------------*/
footer {
  /* margin-top: 40vh; */
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top:80vh;
}
.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;

}
.foot-links {
  width: 35px;
  width: 35px;
  margin-right: 1em;
  filter: invert(100%);
}
